@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  <p>@ViewData["id"]</p>  
  <p>@ViewData["nomepessoa"]</p>
  <p>@ViewData["email"]</p>
  <p>@ViewData["vlr_renda"]</p>